<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Quicksand:wght@700&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
<!-- 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&display=swap" rel="stylesheet"> -->

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap" rel="stylesheet"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <style>
      body {
        background-color: #ffffff;
      }

      .heading {
        margin-left: 18px;
        font-family: 'Comic Neue', cursive;
        font-family: 'Quicksand', sans-serif;
        color: #ee6d80;
      }

      .blogList { 
          margin-left: 5%;
          margin-right: 5%;
          border: none;
          font-family: 'Merriweather Sans', sans-serif;
      }

      .blogList a:hover {
        background-color: #fbcbd3;
      }

      .noContent {
          margin-left: 6%;
          margin-top: 8%;
      }

      #blogTitle, #blogBody {
        background-color: #fcf5f6;
        border-color: #b31e34;
        color: rgb(71, 71, 71);
        border-width: 1px;
      }
      .myButtons {
        background-color: white;
        margin-top: 2%;
      }

      .myButtons:hover {
        background-color: #e61638d9;
      }

      #navButton {
        background-color: #e61638d9;
        color: white;
      }

      #navButton:hover {
        border: 50px;
        background-color: #ff002bd9;
      }

      li .home {
        color: #e61638d9;
      }



      .formBody {
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Merriweather Sans', sans-serif;
      }
      
      .formItem p {
        font-family: 'Crimson Pro', serif;
      }

      .formItem {
        margin: 20px 0 20px 0;
      }

      #blogBody {
        height: 300px;
      }

      .formLabels {
        margin-left: 15px;
        margin-bottom: 10px;
      }

      .pageTitle {
        margin-left: 15px;
        
      }

      .blogRead {
        margin-left: 5%;
        margin-right: 5%;
      }

      .readTitle {
        margin-left: 15px;
        margin-top: 6%;
      }

      .readBlog {
        margin-left: 15px;
        margin-top: 2%;
        font-family: 'Merriweather Sans', sans-serif;
      }

      #updateButton {
      background: none;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    /* Style the button to look like a link */
      #updateButton {
      color: #e61638d9;
      text-decoration: underline;
      display: inline;
      font-size: inherit;
    }

    .updateOption {
        margin-left: 15px;
        margin-top: 10%;
        font-family: 'Crimson Pro', serif;
    }

    .blogUpdate {
      margin-left: 5%;
      margin-right: 5%;
      font-family: 'Merriweather Sans', sans-serif;
    }

      
    </style>
</head>


<body>

    
    <main>
