<%- include("partials/header.ejs") %>


<% if (locals.title) { %>

    <h1>
        <%= title %>
    </h1>
    
    <h3>
        <%= body %>
    </h3>

<% } else { %>
    <h1>No Content here</h1>
<% } %>


<%- include("partials/footer.ejs") %>